[Unit]
Description=Album Player Wifi Config
After=network.target

[Service]
WorkingDirectory=/home/album/Album-Player
ExecStart=/home/album/Album-Player/my_venv/bin/python3 wificonnect.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
